<div class="flex-row delbox">
    <button type="button"><a href="/sitemapscanner/new">Rss Generator</a></button>
    <button type="button"><a href="/jobs/new">New Job Posting</a></button>
    <button type="button"><a href="/internships/new">New Internships Posting</a></button>
    <button type="button"><a href="/referral/new">New Referral Posting</a></button>
    <button type="button"><a href="/scholarships/new">New Scholarships Posting</a></button>
    <button type="button"><a href="/forwomen/new">New Exciting for women Posting</a></button>
    <button type="button"><a href="/courses/organisation/new">New Editorial Posting</a></button>
    <button type="button"><a href="/courses/new">New Course Posting</a></button>
    <button type="button"><a href="/deleteInfo">Data deletion</a></button>
</div>