<form action="/deleteDataFromDb" method="post">
    <div class="flex-row delbox">
        <div>
            <select name="database" class="select-box" id="">
                <option value="">Select Database</option>
                <option value="jobs">Job</option>
                <option value="internships">Internship</option>
                <option value="referral">Referral</option>
                <option value="scholarships">Scholarship</option>
                <option value="forwomen">For women</option>
                <option value="courses">Course</option>
            </select>
        </div>
        <div>
            <input type="text" class="inputid" name="id" placeholder="Enter Id" id="">
        </div>
        <div>
            <button type="submit">Delete Permanently</button>
        </div>
    </div>
</form>