<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <link rel="stylesheet" href="/css/libraries/general.css">
    <link rel="stylesheet" href="/css/containerWithSearchForm.css">
    <link rel="stylesheet" href="/css/libraries/spinner.css">
    <link rel="stylesheet" href="/css/boxes/searchform.css">
    <link rel="stylesheet" href="/css/tools/navbar.css">
    <link rel="stylesheet" href="/css/libraries/popovers.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/images/icon/favicon-32x32.png">
    <!-- ios support -->
    <link rel="apple-touch-icon" sizes="48x48" href="/images/icon/maskable_icon_x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/maskable_icon_x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/images/icon/maskable_icon_x96.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/icon/maskable_icon_x128.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icon/maskable_icon_x192.png">
    <link rel="apple-touch-icon" sizes="384x384" href="/images/icon/maskable_icon_x384.png">
    <link rel="apple-touch-icon" sizes="500x500" href="/images/icon/maskable_icon.png">
    <meta name="apple-mobile-web-app-status-bar" content="#B6A4CC">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="mask-icon" href="/images/icon/safari-pinned-tab.svg" color="#5B2E90">
    <meta name="msapplication-TileColor" content="#B6A4CC">
    <meta name="theme-color" content="#B6A4CC">
    <title>Offcampuscareer - Off Campus | Latest | Fresher experienced Jobs, Internships, Referrals, Scholarships,
        courses and many more</title>
    <!-- preconnects Start -->
    <link rel="preconnect" href="//www.instagram.com" crossorigin="">
    <link rel="preconnect" href="//www.facebook.com" crossorigin="">
    <link rel="preconnect" href="//fb.com" crossorigin="">
    <link rel="preconnect" href="//api.whatsapp.com" crossorigin="">
    <link rel="preconnect" href="//www.linkedin.com" crossorigin="">
    <link rel="preconnect" href="//telegram.me" crossorigin="">
    <link rel="preconnect" href="//twitter.com" crossorigin="">
    <link rel="preconnect" href="//www.youtube.com" crossorigin="">
    <link rel="preconnect" href="//www.twitter.com" crossorigin="">
    <link rel="preconnect" href="//offcampuscareer.com" crossorigin="">
    <link rel="preconnect" href="//bit.ly" crossorigin="">
    <!-- preconnects end -->

    <!-- share data to social media begin -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="article">
    <meta name="twitter:creator" content="@offcampuscareer">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="HR offcampuscareer">
    <meta name="twitter:label2" content="Time to read">
    <meta name="twitter:data2" content="1 minutes">
    <meta property="article:publisher" content="https://www.facebook.com/offcampuscareer.oc2">
    <meta property="article:author" content="https://www.facebook.com/offcampuscareer.oc2">
    <meta property="og:site_name"
        content="offcampuscareer.com - Apply for Off Campus Freshers & experience Jobs, Interns, Referrals | Various Scholarships, Courses and many more">
    <meta name="twitter:site" content="@offcampuscareer">
    <meta property="og:image:width" content="1253">
    <meta property="og:image:height" content="1253">
    <meta property="og:image:alt" content="offcampuscareer.com Logo">
    <meta name="twitter:image:alt" content="offcampuscareer.com Logo">
    <meta name="p:domain_verify" content="5ae5ab1618063dc7bef81d1bf8c88b59"/>
    <!-- share data to social media end -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHPEY1HJFF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push( arguments );
        }
        gtag( 'js', new Date() );
        gtag( 'config', 'G-PHPEY1HJFF' );
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1959001046211071"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/night-owl.min.css">

</head>

<body>