<div class="flex-row full-width-normal bottom-border top-border">
    <div class="half-width-normal">
        <label for="jdFull">Enter Full Description </label>
    </div>
    <div class="half-width-normal">
        <textarea type="text" name="jdFull" id="jdFull" placeholder="Full Job Description" class="full-wrap" hidden><%-dataObject.jdFull %>
        </textarea>
    </div>
</div>