<%- include("../tools/header") %>
<%- include("../tools/navbar") %>
<main class="main flex-row">
    <div class="main-content"></div>
    <div class="main-content flex-column">
        <div class="flex-column offline">
            <div>
                <span>You are currently Offline, Check your Internet connection.</span>
            </div>
            <div>
                <span>Go Back to <a href="/"><b>Home Page</b></a>.</span>
            </div>
        </div>
    </div>
    <div class="main-content"></div>
</main>
<%- include("../tools/footer") %>