<div class="flex-column offline">
    <div>
        <span>This Page is not available</span>
    </div>
    <div>
        <span>Go Back to <a href="/"><b class="goback">Home Page</b></a>.</span>
    </div>
</div>